Repository FlagMotori/writeups, pull requests merged in 2024-08, with the labels that each got.

#39 add some misc and rev from ImaginaryCTF 2024
  docs/crypto/writeups/SnappCTF/Bombastic.md
  docs/forensic/writeups/ImaginaryCTF/elves-1.png
  docs/forensic/writeups/ImaginaryCTF/elves-2.png
  docs/forensic/writeups/ImaginaryCTF/elves-3.png
  docs/forensic/writeups/ImaginaryCTF/elves.png
  docs/getStarted/CTF-introduction/ctftime.png
  docs/getStarted/beginners-guide/247ctf-logo.png
  docs/getStarted/beginners-guide/HTB-Logo.png
  docs/getStarted/beginners-guide/THMlogo.png
  docs/getStarted/beginners-guide/crackmes.png
  docs/getStarted/beginners-guide/cryptohack.png
  docs/getStarted/beginners-guide/ctflearn logo.png
  docs/getStarted/beginners-guide/dont_know.jpg
  docs/getStarted/beginners-guide/hacktoria.png
  docs/getStarted/beginners-guide/picoctf-logo.png
  docs/getStarted/beginners-guide/pwncollege.png
  docs/getStarted/beginners-guide/ringzer0ctf.png
  docs/getStarted/beginners-guide/rootme logo.png
  docs/getStarted/beginners-guide/w3challs.jpg
  docs/misc/writeups/DUCTF/intercept_cover.png
  docs/misc/writeups/DUCTF/recipe_1.png
  docs/misc/writeups/DUCTF/recipe_cover.png
  docs/misc/writeups/ImaginaryCTF/Left in the Dark.PNG
  docs/misc/writeups/ImaginaryCTF/Left in the Dark.mp4
  docs/misc/writeups/ImaginaryCTF/Left-in-the Dark.md
  docs/misc/writeups/ImaginaryCTF/ok-nice.PNG
  docs/misc/writeups/ImaginaryCTF/ok-nice.md
  docs/misc/writeups/ImaginaryCTF/pyjail.jpg
  docs/misc/writeups/OSCTF/captured_data_1.png
  docs/misc/writeups/OSCTF/captured_data_2.png
  docs/misc/writeups/OSCTF/captured_data_cover.png
  docs/reverse/writeups/BSidesSF/TuringComplete.md
  docs/reverse/writeups/DUCTF/jmp_1.png
  docs/reverse/writeups/DUCTF/jmp_cover.png
  docs/reverse/writeups/DUCTF/mashing.png
  docs/reverse/writeups/ImaginaryCTF/BF.PNG
  docs/reverse/writeups/ImaginaryCTF/BF.md
  docs/reverse/writeups/ImaginaryCTF/unconditional.png
  docs/reverse/writeups/UIUCTF/summarize.png
  mkdocs.yml
Labels: Reverse, Misc

#43 add scrainbow - web @ LIT CTF
  docs/crypto/writeups/2024/LITCTF/SymmetricRSA.png
  docs/crypto/writeups/2024/TFCCTF/GENETICS-Table.png
  docs/crypto/writeups/2024/TFCCTF/GENETICS-coding.jpg
  docs/misc/writeups/2024/TFCCTF/bad-invaders-files/gif/game.gif
  docs/misc/writeups/2024/TFCCTF/bad-invaders-files/gif/solution.gif
  docs/web/writeups/2024/LITCTF/asset/HSV.PNG
  docs/web/writeups/2024/LITCTF/asset/NetworkTab.PNG
  docs/web/writeups/2024/LITCTF/asset/colorPicker.PNG
  docs/web/writeups/2024/LITCTF/asset/rainbow_gradient.PNG
  docs/web/writeups/2024/LITCTF/asset/scrainbow.PNG
  docs/web/writeups/2024/LITCTF/asset/scrainbow.mp4
  docs/web/writeups/2024/LITCTF/asset/webpage.PNG
  docs/web/writeups/2024/LITCTF/scrainbow.md
  mkdocs.yml
Labels: Web

#45 add wiki & GoldenTicket Writeup
  docs/crypto/wiki/CRT/chinese-remainder-theorem.md
  docs/crypto/wiki/dhke/dhke.png
  docs/crypto/wiki/dhke/diffie-hellman-key-exchange.md
  docs/crypto/wiki/euclidean-algorithm/euclidean-algorithm.md
  docs/crypto/wiki/euclidean-algorithm/euclidean-algorithm.png
  docs/crypto/wiki/euclidean-algorithm/xeuclidean-algorithm.png
  docs/crypto/wiki/fermat-little-theorem/fermat-little-theorem.md
  docs/crypto/wiki/modular-binomials/modular-binomials.md
  docs/crypto/wiki/quadratic-residues/quadratic-residues.md
  docs/crypto/wiki/rsa/rsa.md
  docs/crypto/wiki/tonelli-shanks/tonelli-shanks.md
  docs/crypto/writeups/2024/BYUCTF/Times.md
  docs/crypto/writeups/2024/IdekCTF/GoldenTicket.md
  docs/crypto/writeups/2024/IdekCTF/GoldenTicket.png
  docs/crypto/writeups/2024/LITCTF/SymmetricRSA.md
  mkdocs.yml
Labels: Crypto
