Repository FlagMotori/writeups, pull requests merged in 2024-07, with the labels that each got.

#33 Add DUCTF and OSCTF misc and reverse writeups
  docs/misc/writeups/DUCTF/intercept.md
  docs/misc/writeups/DUCTF/intercept_cover.png
  docs/misc/writeups/DUCTF/recipe.md
  docs/misc/writeups/DUCTF/recipe_1.png
  docs/misc/writeups/DUCTF/recipe_cover.png
  docs/misc/writeups/OSCTF/captured_data.md
  docs/misc/writeups/OSCTF/captured_data_1.png
  docs/misc/writeups/OSCTF/captured_data_2.png
  docs/misc/writeups/OSCTF/captured_data_cover.png
  docs/reverse/writeups/DUCTF/jmp_1.png
  docs/reverse/writeups/DUCTF/jmp_cover.png
  docs/reverse/writeups/DUCTF/jmp_flag.md
  docs/reverse/writeups/DUCTF/mashing.png
  docs/reverse/writeups/DUCTF/number_mashing.md
  mkdocs.yml
Labels: Reverse, Misc

#35 update sources and tools
  docs/crypto/Tools/index.md
  docs/crypto/source/Cryptography-And-Network-Security_Forouzan.jpg
  docs/crypto/source/Introduction-to-Mathematical-Cryptography_Hoffstein.jpg
  docs/crypto/source/index.md
  mkdocs.yml
Labels: Crypto

#37 add ImaginaryCTF and UIUCTF writeups and fix jmp_flag
  docs/forensic/writeups/ImaginaryCTF/elves-1.png
  docs/forensic/writeups/ImaginaryCTF/elves-2.png
  docs/forensic/writeups/ImaginaryCTF/elves-3.png
  docs/forensic/writeups/ImaginaryCTF/elves.bmp
  docs/forensic/writeups/ImaginaryCTF/elves.md
  docs/forensic/writeups/ImaginaryCTF/elves.png
  docs/reverse/writeups/DUCTF/jmp_flag.md
  docs/reverse/writeups/ImaginaryCTF/unconditional.md
  docs/reverse/writeups/ImaginaryCTF/unconditional.png
  docs/reverse/writeups/UIUCTF/summarize.md
  docs/reverse/writeups/UIUCTF/summarize.png
  mkdocs.yml
Labels: Reverse, Forensics
